/* colors for global configuration */
:root {
  --themeColor: #6762a6;
  --fontColor: #3D3D3D;
  --backgroundColor: rgb(255, 255, 255);
}

body {
  background-color: var(--backgroundColor)
  color: var(--fontColor);
  font-family: 'Merriweather', sans-serif;
  line-height: 1.8em;
}

.resume-content a,
.post-content a {
  color: var(--themeColor);
  text-decoration: underline;
}

.resume-content a:hover,
.post-content a:hover {
  color: var(--themeColor);
}

.news-post {
  margin-bottom: 15px;
}

.news span a {
  color: var(--fontColor);
  background-color: #c9c3e6;
}

.post-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--themeColor)
}

.home-post-title,
.page-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.onthetop {
  height: 0.3em;
  background: var(--themeColor);
  margin: 0;
  padding: 0.1em 0.1em 0.2em;
}

.site-header .navbar {
  background-color: var(--backgroundColor);
  margin: auto;
  float: none;
  font-family: 'Lato', sans-serif;
  padding-top: 0.25rem; 
  padding-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;
}

.site-header .navbar-brand {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.site-header .navbar-nav .nav-item {
  color: #5c5d5e;
  font-size: 14px;
  font-weight: 400;
}

.site-header .navbar-nav .nav-item:hover {
  color: var(--themeColor);
}

.navbar-toggler {
  border: none;
  outline: none;
  padding: 0 0 0 0;
}

.content-section {
  background: var(--backgroundColor);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-title {
  color: var(--fontColor);
  margin-top: 30px; 
  margin-bottom: 30px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.post-content {
  margin-bottom: 50px;
  font-size: 15px;
}

.article-img {
  height: 55px;
  width: 55px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.account-img {
  height: 65px;
  width: 65px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.account-heading {
  font-size: 2.5rem;
}

.layout-footer {
  text-align: center; 
  padding-top: 170px; 
  padding-bottom: 50px;"
}

a.footer {
  color: var(--fontColor);
  display: inline-block;
  text-align: center;
}

a.footer-github {
  margin-right: 20px;
}

a.footer-linkedin {
  margin-right: 20px;
}

a.footer:hover {
  color: rgb(118, 093, 160);
}

.card {
  margin-bottom: 20px;
  background: transparent;
}

.go-back {
  font-size: 14px;
  padding-top: 30px;
}

.go-back a{
  color: var(--fontColor);
}

.badge {
  font-weight: normal;
}

.intro {
  font-size: 15px;
  font-weight: 200;
  margin-top: 15px; 
  padding-bottom:15px;
}

.intro .personal {
  font-size: 16px;
  font-weight: 700;
}

.blog-section {
  margin-bottom: 50px;
}

.blog-section h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--themeColor);
}

.blog-section-posts {
  margin-bottom: 15px;
}

.blog-section-posts a{
  color: var(--fontColor);
  font-size: 15px;
  position: relative;
  text-decoration: none;
}

.blog-section-posts a:hover{
  color: var(--fontColor);
}

.blog-section-posts a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--fontColor);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.blog-section-posts a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.blog-section .published {
  display: inline-block;
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
}

.post-category {
  font-size: 14px;
}

.project-card {
  min-height: 370px;
  border: transparent;
  border-radius: 20px;
}

.project-card img{
  border-radius: 20px;
}

.project-card a{
  color: var(--fontColor);
}

.contact-page {
  padding: 5em 0em 10em 0em;
}

.home-recent-posts {
  margin-bottom: 60px;
}

.arrow-link {
  color:var(--fontColor); 
  font-size: 14px;
  position: relative;
  padding-bottom: 2px;

}

.arrow-link:hover {
  color:var(--fontColor); 
  text-decoration: none;
}

.arrow-link:hover:after {
  width:100%;
  left: 0;
}

.arrow-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: var(--fontColor);
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.keep-in-mind {
  border: transparent;
  padding-top: 1em;
}

