body {
  background: #fffffc;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}

.onthetop {
  height: 0.2em;
  background-color: #7299a1;
  margin: 0;
  padding: 0.1em 0.1em 0.2em;
  border-bottom: 1px solid #455B5E;
}

.site-header .navbar {
  background-color: #fffffc;
  margin: auto;
  float: none;
  font-family: 'Lato', sans-serif;
  padding-top: 0.25rem; 
  padding-bottom: 2.5rem;
  padding-left: 0;
}

.site-header .navbar-brand {
  font-size: 20px;
  color: #000000;
}

.site-header .navbar-nav .nav-item {
  color: #5c5d5e;
  font-size: 14px;
  font-weight: 400;
}

.site-header .navbar-nav .nav-item:hover {
  color: #7299a1;
}

.site-header .navbar-nav .nav-link.active {
  color: #000000;
}

.content-section {
  background: #fffffc;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-title {
  color: #000000;
  margin-top: 30px; 
  margin-bottom: 30px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.post-content {
  margin-bottom: 50px;
}

.article-img {
  height: 55px;
  width: 55px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.account-img {
  height: 65px;
  width: 65px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.account-heading {
  font-size: 2.5rem;
}

a.footer {
  color: #000000;
  display: inline-block;
  text-align: center;
}

a.footer-github {
  margin-right: 20px;
}

a.footer-linkedin {
  margin-right: 20px;
}

a.footer:hover {
  color: #7299a1;
}

.card {
  margin-bottom: 20px;
  background: transparent;
}

.blue-button{
    width: 90px;
    -webkit-transition: background-color 0.5s , color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s , color 0.5s;
    min-height: 10px;
    background-color: #dadada;
    color: #002E5B;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    padding: 5px 0px;
    display: inline-block;
}

.blue-button:hover{
    background-color: #79839c;
    color: #ffffff;
}

.go-back {
  margin-bottom: 50px;
}

.badge {
  font-weight: normal;
}

.intro {
  font-size: 17px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin-top: 15px; 
  padding-bottom:15px;
}

.intro .personal {
  font-size: 17px;
  font-weight: 700;
}

.blog-section {
  margin-bottom: 50px;
}

.blog-section h5 {
  color: #7299a1;
}

.blog-section-posts {
  margin-bottom: 15px;
}

.blog-section-posts a{
  color: #000000;
}

.blog-section-posts a:hover{
  color: #7299a1;
}

.blog-section .published {
  display: inline-block;
}

.project-card {
  height: 65vh;
}

.project-card a{
  color: #000000;
}

.contact-page {
  padding: 0em 0em 10em 0em;
}
