.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #e5ebe1; color: #839496; border-radius: 5px; padding: 10px 10px 1px 10px;}
.codehilite .c { color: #008800; font-style: italic } /* Comment */
.codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.codehilite .k { color: #353580; font-weight: bold } /* Keyword */
.codehilite .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #008800; font-style: italic } /* Comment.Preproc */
.codehilite .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #008800; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #008800; font-style: italic } /* Comment.Special */
.codehilite .kc { color: #353580; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #353580; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #353580; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #353580; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #353580; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #2c2cff } /* Literal.Number */
.codehilite .s { color: #7a2424 } /* Literal.String */
.codehilite .nf { color: #2c2cff } /* Name.Function */
.codehilite .nx { color: #be646c } /* Name.Other */
.codehilite .nv { color: #35baba; font-weight: bold } /* Name.Variable */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #2c2cff } /* Literal.Number.Bin */
.codehilite .mf { color: #2c2cff } /* Literal.Number.Float */
.codehilite .mh { color: #2c2cff } /* Literal.Number.Hex */
.codehilite .mi { color: #2c2cff } /* Literal.Number.Integer */
.codehilite .mo { color: #2c2cff } /* Literal.Number.Oct */
.codehilite .sa { color: #7a2424 } /* Literal.String.Affix */
.codehilite .sb { color: #7a2424 } /* Literal.String.Backtick */
.codehilite .sc { color: #7a2424 } /* Literal.String.Char */
.codehilite .dl { color: #7a2424 } /* Literal.String.Delimiter */
.codehilite .sd { color: #7a2424 } /* Literal.String.Doc */
.codehilite .s2 { color: #7a2424 } /* Literal.String.Double */
.codehilite .se { color: #7a2424 } /* Literal.String.Escape */
.codehilite .sh { color: #7a2424 } /* Literal.String.Heredoc */
.codehilite .si { color: #7a2424 } /* Literal.String.Interpol */
.codehilite .sx { color: #7a2424 } /* Literal.String.Other */
.codehilite .sr { color: #7a2424 } /* Literal.String.Regex */
.codehilite .s1 { color: #7a2424 } /* Literal.String.Single */
.codehilite .ss { color: #7a2424 } /* Literal.String.Symbol */
.codehilite .fm { color: #2c2cff } /* Name.Function.Magic */
.codehilite .vc { color: #35baba; font-weight: bold } /* Name.Variable.Class */
.codehilite .vg { color: #b5565e; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #35baba; font-weight: bold } /* Name.Variable.Instance */
.codehilite .vm { color: #35baba; font-weight: bold } /* Name.Variable.Magic */
.codehilite .il { color: #2c2cff } /* Literal.Number.Integer.Long */
