{% extends "layouts.html" %}
{% block content %}
	<h3>About, Me.</h3><br>
	<p>
	Welcome to my blog!<br><br>

	Hi, my name is Jeff, a college student always willing to learn.<br><br>

	The rapid growth of Social Networking Services (such as Facebook, Instagram, etc.) provided a platform in which people from all over the world can connect without much effort. Nonetheless, I never felt quite “myself” within the frame of “SNS”. The fact that anything I post on these giant social networking platforms are always open to judgement by my friends (and friends of friends) unsettled me, pulling me back from being an active user. That’s exactly why I decided to create this website. I wanted something that represents me as an individual, and a shelter that I can freely express my thoughts in; I wanted to run free from the irony of stifling openness.<br><br>

	<b>Software Engineering, Healthy Lifestyle, Compassion for Humanity</b> – although not an exhaustive list, these are some of the strongest passions I possess.<br><br>

	I wasn’t a born “programming prodigy” by any means. In fact, my first experience in computer science was only in college. Originally an economics major, it only took me one computer science course to find myself headed to the Dean’s Office to fill out the major declaration form. Still far from a finished article, I’m always striving to learn more. The field of technology/computer science excites me more than anything else, and I hope to be sharing real-world projects on this website as I progress. This website, of course, was also a project - I built it from scratch!<br><br>

	Poverty is an issue that I take serious interest in. While serving in the Korean military, I read Jean Ziegler’s (United Nations Special Rapporteur on the Right to Food from 2000 to 2008) “La faim dans le monde expliquee a mon fils” in Korean. His book suggests that the fundamental cause of poverty is a supranational structural issue that cannot be overcome by individual efforts. I hope to live to see a world where people don’t die of hunger, and to contribute to that world becoming a reality.<br><br>

	Long story short, my yearning is that this website serves as a mirror for me to reflect on myself as an individual, and as a professional. Hopefully, everyone who visits this website also has something to take away too; It would truly be an honor to be the source of any inspiration or motivation. Please Enjoy!
	</p><br>
	Jeff
{% endblock %} 
