{% extends "layouts.html" %}
{% block content %}
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">{{ post.author }}</a>
		      <small class="text-muted">{{ post.published }}</small>
		    </div>
		    <h3>
		    	<a class="article-title" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
		    	{{ post.title }}
		    	</a>
		    </h3>
		    Category: <strong>{{ post.category }}</strong><br>
		    {{ post.summary }}
		    <p><a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">read more</a></p>
		  </div>
		</article>
	{% endfor %}
{% endblock %} 