{% extends "layouts.html" %}
{% block content %}
	<h3><strong>Words & Code.</strong></h3><br>
	{% if '/category' in request.path %}
		<h4>[ {{ name }} ]</h4><br>
	{% endif %}

	<div class="blog-section">
		<h5><strong>Leetcode Solutions</strong></h5>
		{% for post in posts %}
			{% if 'Leetcode' in post.category %}
				<div class="blog-section-posts">
					<div class="published">{{ post.published }}</div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a>&nbsp;•&nbsp;{{ post.minread }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="blog-section">
		<h5><strong>Data Structures & Algorithms</strong></h5>
		{% for post in posts %}
			{% if 'Data Structures & Algorithms' in post.category %}
				<div class="blog-section-posts">
					<div class="published">{{ post.published }}</div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a>&nbsp;•&nbsp;{{ post.minread }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="blog-section">
		<h5><strong>Tutorials</strong></h5>
		{% for post in posts %}
			{% if 'Tutorial' in post.category %}
				<div class="blog-section-posts">
					<div class="published">{{ post.published }}</div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a>&nbsp;•&nbsp;{{ post.minread }}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="blog-section">
		<h5><strong>Personal Reflections</strong></h5>
		{% for post in posts %}
			{% if 'Internship' in post.category %}
				<div class="blog-section-posts">
					<div class="published">{{ post.published }}</div>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a>&nbsp;•&nbsp;{{ post.minread }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<br><br>
{% endblock %} 