{% extends "layouts.html" %}
{% block content %}
	<div class="article-title text-center">
		<h3 class="post-title theme-color">{{ post.title }}</h3>
		<span style="font-size: 15px;">{{ post.published }}</span>
		<span style="font-size: 15px;">•&nbsp;{{ post.minread }} read</span>
	</div>
	<div class="post-content">
		{{ post.html|safe }}
	</div>
	<div class="go-back text-right">
		<a href="{{ url_for('blog')}}" role="button">&#8592;&nbsp;back</a>	
	</div>
	<hr>
	<div class="blog-post-footer col-md-12">
		<div style="display: flex; align-items: center;">
			<img
				class="blog-post-img img-fluid" 
				src="../static/upload/jeffyang.png" 
			>
			<div class="blog-post-self-intro">
				<strong>Jeff Yang</strong>
				<a class="footer footer-linkedin" href="https://www.linkedin.com/in/jaeho-yang/" style="color: #3f51b5;">
					@jeffyang
				</a>
				<p>
					CS '21 @Northwestern. I blog about web development, ideas, tutorials, and my development progress as an aspiring software engineer.
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div id="commento" style="margin-top: 3em;"></div>
	<script defer
		src="https://cdn.commento.io/js/commento.js">
	</script>
{% endblock %} 