{% extends "layouts.html" %}
{% block content %}
	<div class="article-title text-center">
		<h3 class="post-title">{{ post.title }}</h3>
		{% for category in post.category %}
		    <a href="{{ url_for('category', name=category)}}" class="post-category text-muted">
		        {{ category }}
	        </a>  
		{% endfor %}
		<small class="text-muted">•&nbsp;{{ post.minread }}</small>
		<small class="text-muted">•&nbsp;{{ post.published }}</small>
	</div>
	<div class="post-content">
		{{ post.html|safe }}
	</div>
	<div class="go-back text-right">
		<a href="{{ url_for('blog')}}" role="button">&#8592;&nbsp;back</a>	
	</div>
{% endblock %} 