{% extends "layouts.html" %}
{% block content %}
	<h3 class="page-title"><strong>Contact Me</strong></h3><br>
	<div class="contact-page">
		<p>If you're looking to contact me, please send me an email at: 
			<div class="text-center" style="margin-top: 50px; margin-bottom: 50px;">
				<hr width="50%">
				<strong>jho.yang96@gmail.com</strong>
				<hr width="50%">
			</div> 
		</p>

		<p>For more professional purposes, I check LinkedIn daily, so feel free to reach out through LinkedIn.</p><br>

		<p>If you're looking for my resume, you can find it <a href="https://www.jeffyangme.com/resume">here</a>.</p><br>

		<p>Thank you!</p>
	</div>
{% endblock %} 