{% extends "layouts.html" %}
{% block content %}
	<h3 class="page-title theme-color"><strong>Contact Me</strong></h3><br>
	<div class="contact-card">
		<span style="font-size: 2em;">Hey There! 👋🏼</span><br>
		<span style="font-size: 1.2em; padding-bottom: 2em; text-align: center;">Please feel free to shoot me a message using any of the platforms listed below 🥳</span>
		<p>
			<i class="fas fa-envelope mr-2" style="color: #1f364c;"></i>
			Email: jho.yang96 [at] gmail [dot] com
		</p>
		<p>
			<i class="fab fa-linkedin mr-2" style="color: #0077b5;"></i>
			LinkedIn: <a href="https://www.linkedin.com/in/jaeho-yang/" style="text-decoration: none; color: #1f364c;">@jaehojeffyang</a>
		</p>
		<p>
			<i class="fab fa-twitter-square mr-2" style="color: #1da1f2;"></i>
			Twitter: <a href="https://twitter.com/jjeffyang" style="text-decoration: none; color: #1f364c;">@jjeffyang</a>
		</p>
	</div>
{% endblock %} 