{% extends "layouts.html" %}
{% block content %}
	<div class="intro">
	    <img
	        class="account-img img-fluid" 
	        src="../static/upload/my_avataar2.jpg" 
	    ><span class="personal">Personal blog by Jeff Yang.</span>
	    </p> 
	    <p>Hi, I am Jeff, a college student.<br>
	    I'm always looking for ways to learn,<br>
	    and make a positive impact on this world.<br>
	    Some of my <u>passions</u> include, but are not limited to:<br>
	    <u>coding and technology,<br>
	    managing a healthy lifestyle,<br>
	    and being a helpful existence to others</u>.<br>
	    My end goal in life is to <u>influence</u><br>
	    as many people as I can in a <u>positive way</u>.<br>
	    My hope is that this space helps achieve<br>
	    even a fraction of that goal,<br>
	    and open up opportunities to <u>learn from the world</u>.
	    <br>
	    Thanks for stopping by, and hopefully, enjoy!</p>
	    <p class="lead text-right">
	  	<a href="{{ url_for('about')}}" class="arrow-link">&#8702; About me</a>	 
  	    </p>
  	</div>
	<hr>
	<h3><strong>Recent posts</strong></h3>
	<br>
	{% for post in posts %}
		<div class="home-recent-posts">
	      <div>
	      	<h4><strong>{{ post.title }}</strong></h4>
	        <!-- <i class="fas fa-tags fa-sm"></i>  -->
		    {% for category in post.category %}
	    	    <a href="{{ url_for('category', name=category)}}" class="post-category text-muted">
			        {{ category }}
		        </a>  
			{% endfor %}
			•&nbsp;<small class="text-muted">{{ post.minread }}</small>
			•&nbsp;<small class="text-muted">{{ post.published }}</small><br>
		    {{ post.summary }}
		    </p>
	        <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}"\
	        class="arrow-link">
	        	&#8702; read
	        </a>
	      </div>
	    </div>
	{% endfor %}
	<hr>
	<h3><strong>I keep in mind...</strong></h3>
	<br><br>
	<div class="row">
	  <div class="col-sm-4">
	    <div class="bg-transparent keep-in-mind">
	      <div>
	      	<strong>Habitual Excellence</strong>
	        <p>"We are what we repeatedly do. Excellence, then, is not an act, but a habit."
	        	<br><br>- <i>Aristotle</i>
	        </p>
	        
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="bg-transparent keep-in-mind">
	      <div>
	      	<strong>Compassion</strong>
	        <p>"No one is useless in this world who lightens the burdens of another."
	        	<br><br>- <i>Charles Dickens</i>
	        </p>
	        
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="bg-transparent keep-in-mind">
	      <div>
	      	<strong>Perseverance</strong>
	        <p>"Success is not final, failure is not fatal: it is the courage to continue that counts."
	        	<br><br>- <i>Winston Churchill</i>
	        </p>
	        
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %} 
