{% extends "layouts.html" %}
{% block content %}
	<div class="content-section">
	  <p class="display-5">
	    <img
	        class="account-img img-fluid" 
	        src="../static/upload/my_avataar.jpg" 
	    ><strong>Personal blog by Jeff Yang.</strong>
	  </p> 
	  <p class="lead">Hi, my name is Jeff, a 23 year old college student venturing into the world of technology and computer science. I'm always looking for ways to learn and make a positive impact on this world.</p>
	  <hr class="my-4">
	  <p class="lead">Some of my passions include but are not limited to: software development, managing a healthy lifestyle, and being a helpful existence to others. My end goal in life is to influence as many people as I can in a positive way. I hope this website helps achieve even the teeniest bit of that goal, and open up opportunities to learn from the world. Thanks for stopping by, and hopefully, enjoy!</p>
	  <p class="lead text-right">
    	<a class="btn btn-outline-dark btn-md" href="{{ url_for('about')}}" role="button">
    		<i class="fas fa-chevron-right"></i>&nbsp;About Me
    	</a>
  	  </p>
	</div>
	<hr>
	<h3>Recent Posts</h3>
	<br>
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">{{ post.author }}</a>
		      <small class="text-muted">{{ post.published }}</small>
		    </div>
		    <h3><a class="article-title" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a></h3>
		    <i class="fas fa-tags fa-sm"></i>
		    {% for category in post.category %}
	    	    <a href="{{ url_for('category', name=category)}}" class="badge badge-pill badge-secondary">
			        {{ category }}
		        </a>  
			{% endfor %}
		    •&nbsp;{{ post.minread }} <br>
		    {{ post.summary }}
		  </div>
		</article>
	{% endfor %}
	<br>
	<hr>
	<h3> Food for Thought </h3><br>
	<div class="row">
	  <div class="col-sm-4">
	    <div class="card border-secondary bg-transparent">
	      <div class="card-header"><strong>Commitment to Excellence</strong></div>
	      <div class="card-body">
	        <h5 class="card-title"></h5>
	        <p class="card-text">“We are what we repeatedly do. Excellence, then, is not an act, but a habit.”
	        	<br><br>- Aristotle
	        </p>
	        
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="card border-secondary bg-transparent">
	      <div class="card-header"><strong>Compassion</strong></div>
	      <div class="card-body">
	        <h5 class="card-title"></h5>
	        <p class="card-text">“No one is useless in this world who lightens the burdens of another.”
	        	<br><br>- Charles Dickens
	        </p>
	        
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="card border-secondary bg-transparent">
	      <div class="card-header"><strong>Perseverance</strong></div>
	      <div class="card-body">
	        <h5 class="card-title"></h5>
	        <p class="card-text">“Success is not final, failure is not fatal: it is the courage to continue that counts. 
	        	<br><br>- Winston Churchill
	        </p>
	        
	      </div>
	    </div>
	  </div>
	</div>
	<br><br>
{% endblock %} 