<!DOCTYPE html>
<html>
<head>
	<title>Jeff &#8211; personal development, passion, and life</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/f8ddbdbcbf.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../static/jy.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/pygs.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #fffcf4;">
	    <div class="container">
	      <a class="navbar-brand mr-2" href="/">
	      	<strong>Jeff Yang</strong>
	      </a>
	      <p style="color: #000000; margin-left: 95px; position: fixed;">|</p>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{{ url_for('about' )}}">About Me</a>
	          <a class="nav-item nav-link" href="{{ url_for('blog' )}}">Blog</a>
	          <!-- <a class="nav-item nav-link" href="{{ url_for('projects' )}}">Projects</a> -->
	          <a class="nav-item nav-link" href="{{ url_for('resume' )}}">Resume</a>
	          <a class="nav-item nav-link" href="{{ url_for('contact' )}}">Contact</a>	          
	        </div>
	        <!-- Navbar Right Side -->
	        <!-- <div class="navbar-nav">
	        </div> -->
	      </div>
	    </div>
	  </nav>
	</header>

	<main role="main" class="container">
	  <div class="row">
	  	{% if '/contact' in request.path %}
	  		<div class="col-md-8" style="float:none; margin:auto;">
	  	{% else %}
	    	<div class="col-md-10" style="float:none; margin:auto;">
	    {% endif %}
	      {% with messages = get_flashed_messages(with_categories=true) %}
	      	{% if messages %}
	      	  {% for category, message in messages %}
	      	    <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
	      	    	{{ message }}
	      	    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					</button>
	      	    </div>
	      	  {% endfor %}
	      	{% endif %}
	      {% endwith %}
	      {% block content %}{% endblock %}
	    </div>
	  </div>
	</main>
	<hr>
	<div style="text-align: center; padding-top: 10px; padding-bottom: 50px;">
		<footer>
	  		<a class="footer" href="https://www.linkedin.com/in/jaeho-yang/">
	  			<i class="fab fa-linkedin fa-lg"></i>
	  		</a> &nbsp;&nbsp;
	  		<a class="footer" href="https://github.com/jeffjaehoyang">
	  			<i class="fab fa-github fa-lg"></i>
	  		</a> &nbsp;&nbsp;
	  		<a class="footer" href="https://www.instagram.com/jefe.yang/">
	  			<i class="fab fa-instagram fa-lg"></i>
	  		</a> &nbsp;&nbsp; | &nbsp;&nbsp;
	  		<span class="footer">
	  			<i class="fa fa-python"></i>
	  		</span> &nbsp;&nbsp;
	  		<span class="footer">
	  			<i class="fab fa-markdown fa-lg"></i>
	  		</span> &nbsp;&nbsp;
	  		<span class="footer">
	  			<i class="fab fa-html5 fa-lg"></i>
	  		</span> &nbsp;&nbsp;
	  		<span class="footer">
	  			<i class="fab fa-css3-alt fa-lg"></i>
	  		</span> &nbsp;&nbsp;
	  		<br><br>
	  		<small> © Copyright 2019 JaeHo Yang. All Rights Reserved.</small>
	 	</footer>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 