<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} | Jeff Yang</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152618719-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-152618719-1');
	</script>

    <!-- FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/f8ddbdbcbf.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../static/jy.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,700,900|Inconsolata:200,300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/pygs.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="light">
	<header class="site-header">
		<div class="onthetop"></div>
	</header>

	<main role="main" class="container">
		<div class="row">
			<div class="site-header col-md-7" style="float:none; margin:auto;">
			  	<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="/">
			      	    <!-- <img src="../static/sitelogo.png" width="35" height="35" class="d-inline-block align-middle"> -->
			      	    <span><strong>Jeff Yang</strong></span>
				    </a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				    	<span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarToggle">
				        <div class="navbar-nav ml-auto">
				          <a class="nav-item nav-link" href="{{ url_for('about' )}}">About</a>
				          <a class="nav-item nav-link" href="{{ url_for('blog' )}}">Blog</a>
				          <a class="nav-item nav-link" href="{{ url_for('projects' )}}">Projects</a>
				          <a class="nav-item nav-link" href="{{ url_for('resume' )}}">Resume</a>
									<a class="nav-item nav-link" href="{{ url_for('contact' )}}">Contact</a>
									<!-- <button id="themeButton"><i class="fas fa-eclipse-alt" id="themeIcon"></i></button>	           -->
				        </div>
				    </div>
				</nav>
	  		</div>
	  	
		    <div class="col-md-7" style="float:none; margin:auto;">
		    	{% with messages = get_flashed_messages(with_categories=true) %}
			      	{% if '/contact' not in request.path and messages %}
			      		{% for category, message in messages %}
			      	    	<div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
			      	    		{{ message }}
			      	    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    	<span aria-hidden="true">&times;</span>
								</button>
			      	    	</div>
			      		{% endfor %}
			      	{% endif %}
		      	{% endwith %}
		    	{% block content %}{% endblock %}
		    </div>
		</div>
	</main>
	<div class="layout-footer">
		<footer>
	  		<a class="footer footer-linkedin" href="https://www.linkedin.com/in/jaeho-yang/">
	  			<i class="fab fa-linkedin fa-lg"></i>
	  		</a>
	  		<a class="footer footer-github" href="https://github.com/jeffjaehoyang">
	  			<i class="fab fa-github fa-lg"></i>
	  		</a>
	  		<a class="footer footer-instagram" href="https://www.instagram.com/jefe.yang/">
	  			<i class="fab fa-instagram fa-lg"></i>
	  		</a>
	  		<br><br>
	  		<small> Made with  <i class="fa fa-heart" aria-hidden="true"></i> by Jeff Yang. Powered by <a href="https://palletsprojects.com/p/flask/">Flask</a>.</small>
	 	</footer>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
			$(document).ready(function() {
				// executes when HTML-Document is loaded and DOM is ready
				if (window.location.pathname == '/projects') {
					$( ".card" ).hover(
						function() {
							$(this).addClass('shadow-lg'); 
						}, function() {
							$(this).removeClass('shadow-lg');
						}
					);  
				}
			});
		</script>
		<script>
			const themeMap = {
				"dark" : "light",
				"light" : "dark",
			}
			const body = document.querySelector('body');
			const bodyClass = body.classList;

			function setTheme(themeName) {
				localStorage.setItem('theme', themeName);
				body.className = themeName;
			}

			// Change the theme on a button click
			function toggleTheme() {
				console.log(localStorage)
				if (localStorage.getItem('theme') === 'dark'){
					setTheme('light');
				} else {
					setTheme('dark');
				}
			}

			document.getElementById('themeButton').onclick = toggleTheme;

			// Immediately invoked function to set the theme on initial load
			(function () {
				if (localStorage.getItem('theme') === 'dark') {
						setTheme('dark');
				} else {
						setTheme('light');
				}
			})();
		</script>
</body>
</html> 