{% extends "layouts.html" %}
{% block content %}
	<h3><strong>Projects</strong></h3><br>
	<div class="row">
	  <div class="col-lg-4">
	    <div class="card bg-white project-card shadow">
	      <img src="../static/upload/twitter.png" class="card-img-top">
	      <div class="card-body">
	        <h5 class="card-title">
	        	<a href="https://threewordthinker-api-heroku.herokuapp.com">
	        		<strong>Three Word Philosopher</strong>
	        	</a>
	        </h5>
	        <p class="card-text">A simple tweet bot built through web-scraped repository of words, and an interface on a web application. Tweets every day at 19:39.
	        </p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-4">
	    <div class="card bg-white project-card shadow">
	      <img src="../static/upload/pythongmail.png" class="card-img-top">
	      <div class="card-body">
	        <h5 class="card-title">
	        	<a href="https://github.com/jeffjaehoyang/email_scraper">
	        		<strong>Email to Local Machine</strong>
	        	</a>
	        </h5>
	        <p class="card-text">A python script to download email content to local machine, and save as file in a designated directory.
	        </p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-4">
	    <div class="card bg-white project-card shadow">
	      <img src="../static/upload/twilio-owm.png" class="card-img-top">
	      <div class="card-body">
	        <h5 class="card-title">
	        	<a href="https://github.com/jeffjaehoyang/weather_notifier">
	        		<strong>Bring Your Umbrella</strong>
	        	</a>
	        </h5>
	        <p class="card-text">SMS bot that notifies designated recepients if there is a need for an umbrella. Temperature notification is a bonus!
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
	<br><br>
{% endblock %} 